* {
  box-sizing: border-box;
}

div {
  background-color: white;
  border-bottom: 4px solid #1d679b;
  color: white;
  padding: 7px;
  font-size: 20px;
  margin: 60px auto;
  cursor: pointer;
  border-radius: 8px 8px;
  background-color: #3188c6;
  width: 300px;
  text-align: center;
}

div:hover {
  border: none;
  background-color: #54a6e1;

}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
